#formTellAFriend .input-wrap-taf{
    display: inline-block;
    margin-bottom: 10px;
    max-width: 405px;    
    width: 100%;
}
#formTellAFriend .input-wrap-taf select{
    width: 99%;
}
#formTellAFriend .input-wrap-taf-12{
    display: inline-block;
    margin-bottom: 10px;   
    width: 100%;
}
#formTellAFriend .input-wrap-taf-12 h3{
    line-height: 28px;
    padding: 10px;
    border: solid 1px #ddd;
    background-color: #f5f5f5;
    color: #337ab7;
}

#image-attachment,
#image img{
    max-width: 100%;
    height: auto;
}